[Desktop Entry]
Name=CNotes
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/CNotes/CNotes.qml
Icon=./CNotes.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
